jenkins_configuration/workspace/*
jenkins_configuration/caches/*
jenkins_configuration/logs/*
jenkins_configuration/jobs/DevOps_is_great/builds/*
jenkins_configuration/jobs/trigger-PR/*
enkins_configuration/jobs/*/builds/*
jenkins_configuration/plugins/*